@page "/"

<main>

    <div class="page-body">
        @if (isLoadingMenuData)
        {
            <Loader />
        }
        else
        {
            foreach (var i in menu)
            {
                <MenuItemCard Item="i" OnAddToCartClicked='(() => AddItemToCartAsync(i.Id))' />
            }
        }
    </div>
</main>