<div class="overlay">
    <div class="container">
        <div class="header-row">
            <div>
                <h1>Dish Gallery</h1>
            </div>

            <div class="close-button" @onclick="CloseButtonClicked">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
                    viewBox="0 0 16 16">
                    <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                </svg>
            </div>
        </div>

        <div class="images-row">
            @if (isLoadingData)
            {
                <Loader />
            }
            else
            {
                if (images.Any())
                {
                    <div class="images-container">
                        @foreach (var i in images)
                        {
                            <div class="image-container">
                                <img src="@i.URL" width="300" height="300" @onclick='(() => Nav.NavigateTo($"/image/{i.Id}"))' />
                                <button class="remove-img-btn" @onclick="(() => HandleImageRemovalAsync(i.Id))">
                                    Remove Image
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                        <path
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                    </svg>
                                </button>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <InfoAlert InfoMessage="The dish doesn't have any images in its gallery, please upload some images to it" />
                }
            }
        </div>

        <div class="bottom-row">
            <InputFile OnChange="AddNewDishImageAsync" />
        </div>
    </div>
</div>
