@inject CartState CartState
<div class="card">
    <div class="card-header">
        <img src="@Item.Images?.First().URL" />
    </div>

    <div class="card-body">
        <h3 class="name">@Item.Name</h3>
        <h4 class="price">$3.99</h4>
    </div>

    <div class="card-footer">
        <div>
            <button class="add-to-cart-btn" @onclick="AddToCartClicked">
                <div>
                    <p>Add to cart</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-basket-fill" viewBox="0 0 16 16">
                    <path
                        d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z" />
                </svg>
            </button>
        </div>

        <div>
            <button class="add-to-favs-btn" @onclick="AddToFavsClicked">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
            </button>
        </div>
    </div>
</div>


@code {
    [Parameter] public MenuItemDto Item { get; set; } = null!;
    [Parameter] public EventCallback OnAddToCartClicked { get; set; }
    [Parameter] public EventCallback OnAddToFavsClicked { get; set; }


    private void AddToCartClicked()
    {
        OnAddToCartClicked.InvokeAsync();
        CartState.CartItemsCount++;
        CartState.NotifyStateChanged();
    }

    private void AddToFavsClicked()
    {
        OnAddToFavsClicked.InvokeAsync();
    }
}