main {
    min-height: 100vh;
    background-color: var(--bg-color);
}

nav {
    padding: 2% 15%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.logo::first-letter {
    font-size: 35px;
    color: var(--main-color);
    font-weight: 900;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

.right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

svg {
    cursor: pointer;
}