.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 15%;
}

.title {
    font-size: 64px;
    font-weight: 900;
    color: #2B2B2B;
}

.menu-controls-section {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.menu-controls-section h1 {
    font-size: 40px;
    font-weight: 900;
}

.menu-items-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.functions-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-dish-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #d5f365;
    border: none;
    font-family: inherit;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.add-dish-btn:hover {
    box-shadow: 7px 5px 56px -14px #C3D900;
}

.add-dish-btn:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #C3D900;
   }